@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* =================
    color variables
   =================
 */

 :root {
  --primaryBackground: #0E1323;
  --tileBackground: #1C204B;
  --tileHover: #33397A;
  --primaryText: #FFFFFF;
  --secondaryText: #BBC0FF;
  --employeeBackground: #7078C9;
  --labelText: #7078C9;

 }


 /* 
 =================
 universal styling
 =================
 */

 *, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--primaryBackground);
  color: var(--primaryText);
 }

 /* grid container that holds all tiles */
 .tile-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 2rem;
  padding: 4rem 1rem;
 }

    /* radio button styling */

 /* hide the radio button */
 input[type="radio"] {
    opacity: 0;
    width: 0;
 }

 /* label for radio button is white when checked */
input[type="radio"]:checked + label {
    color: var(--primaryText);
 }

 img {
  max-width: 100%;
  height: auto;
 }

 svg path {
   fill: var(--secondaryText);
 }
 svg:hover path{
   cursor: pointer;
   fill: var(--primaryText);
}

 h1 {
    font-size: 2rem;
    font-weight: lighter;
 }

 

 /* 
 ==================
 Tile component
 ==================
 */

.tile {
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  align-items: flex-end;

}

 /* tile container that holds the info tile and has the background on top of the tile */
 .info-tile {
  background-color: var(--tileBackground);
  padding: 2rem;
  border-radius: 1rem;
  height: 75%;
  width: 100%;
  margin-top: 15%;
 }

 .info-tile:hover{
    cursor: pointer;
    background-color: var(--tileHover);
 }

 /* flex container holding the tile title and the menu icon */
 .title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1.25rem;
 }

 

 .hour-container {
  display: flex;
  justify-content: space-between;
 }

 .hour-container p {
    color: var(--secondaryText);
 }

 /* 
 =================
 Employee Tile
 =================
 */

 .employee-container {
  background-color: var(--tileBackground);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

 /* section in employee container with employee information and img*/
 .employee-card {
  background-color: var(--employeeBackground);
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 }

 /* info container with employee name */
 .employee-info {
  display: flex;
  flex-direction: column;
 }

 .employee-info h1 {
  font-size: 1.75rem;
 }

 .employee-info p {
  font-size: 0.8rem;
 }

 /* flex container holding filter buttons */
 .filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  margin-bottom: 1rem;
 }

 .filter-container label {
  font-size: 1.25rem;
  color: var(--labelText);
 }

 .filter-container label:hover {
    color: var(--primaryText);
    cursor: pointer;
   }

.img-border {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 85px;
   width: 85px;
   border-radius: 50%;
   background-color: var(--primaryText);
}
